<h2 class="page-header">Login</h2>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Login">
</form>

<div>
<a href="http://localhost:3000/users/fblogin">
  <button (click)="onButton1Click()" type="button1" class="btn btn-primary">Facebook</button>
</a>


<a href="http://localhost:3000/users/googlogin">
  <button (click)="onButton1Click()" type="button1" class="btn btn-primary">Google</button>
</a>


<a href="http://localhost:3000/users/linkedinlogin">
  <button (click)="onButton1Click()" type="button1" class="btn btn-primary">Linkedin</button>
</a>

</div>